[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
jupyterlab = "*"
pandas = "*"
deep-translator = "*"
huggingface-hub = "*"
jupyter = "*"
ipywidgets = "*"
torch = {version = "*", index = "downloadpytorch"}
pysentimiento = "*"

[dev-packages]

[requires]
python_version = "3.11"
