[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
transformers = "*"
accelerate = "*"
datasets = "*"
evaluate = "*"
rouge-score = "*"
bert-score = "*"
tensorflow = "*"
tf-keras = "*"
news-please = "*"

[dev-packages]

[requires]
python_version = "3.11"
