<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="30;url=http://127.0.0.1:80/" /> -->
    <title>Document</title>
</head>
<body>
    <h1>A website to gather some memes!</h1>
    <p>Here's the meme! the meme will refresh each 30 secs</p>
    <p>
        <img src="{{meme_pic}}" alt="meme-picture">
    </p>
    <p>Current subreddit: {{subreddit}}</p>
</body>
</html>