[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
streamlit = "*"
numpy = "*"
pandas = "*"
tweet-preprocessor = "*"
rouge-score = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
